#hero {
    background-color: #858CBC;
    color: white;
}

.section-title {
    font-size: 4.0rem;
    line-height: 0.5;
    font-family: 'Sacramento', cursive;
}
.section-subtitle {
    font-size: 2.0rem;
    line-height: 0.5;
    font-family: 'Comfortaa', cursive;
}

  

  
  
  
  